.checkout-form {
  margin: 40px 0;
  padding: 20px 30px;
  border: 1px solid var(--gray-border);
  border-radius: var(--radius);
}

.sr-combo-inputs {
  margin: 20px 0;
}

.sr-input {
  font-size: 16px;
}

.btn {
  font-size: 16px;
}
